{% extends 'main.html' %}


{% block content %}

<style>
    .food {
        margin: 20px;
    }

    .food_element {
        display:flex;
        justify-content: start;
        margin: 10px;
       
    }

    .food_element .included {
        padding:0px 40px;
    }

    .tag_element {
        background:burlywood;
        padding:4px 20px;
        border: 1px solid black;
        border-radius: 20px;
    }
</style>




<div class="food">

<h3>Our Burger Menu</h3>
{% for i in burgers %}

<ul>
    <div class="food_element">
        <li>{{i}}</li>
    </div>
</ul>

{% endfor %}
</div>


<div class="food">

<h3>Our Salad Menu</h3>

{% for i in salads %}

<ul>
    <div class="food_element">

    <li>{{i}}</li>
    </div>
</ul>

{% endfor %}
</div>


<div class="food">

<h3>Our Main Dish Menu</h3>
{% for i in main_dishes %}

<ul>
    <div class="food_element">

         <li>{{i}}</li>

        <div class="included">Salads Included: 
            {% for j in i.salads.all %}
            {{j}}
            {% endfor %}
        </div>

        <div class="tags">
            {% for z in main_dishes_tag %}
                {% if i == z.maindish %} 
                    {% for j in z.tags.all %}
                    <div class="tag_element">
                        {{j}}
                    </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>

    </div>

</ul>

{% endfor %}
</div>

{% endblock %}